<div class="container">
  <h1>投稿確認ページ</h1>
  <%= form_with(model: @blog, local: true) do |form| %>
    <%= form.hidden_field :content %>
    <p>本文:<%= @blog.content %></p>
    <%= form.submit  "登録する" %>
    <%= form.submit "戻る", name: 'back' %>
  <% end %>
</div>