<!DOCTYPE html>
<html>
  <head>
    <title>Clone-T</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
              <span class="sr-only">Clone-T</span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Clone-T", root_path, class: 'navbar-brand' %>
          </div>
          <div id="gnavi" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to '一覧表示ページ', blogs_path, class: 'nav-link' %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <p>© All rights reserved by Clone-T.</p>
    </footer>
  </body>
</html>
